@font-face {
  font-family: 'Gill Sans Light';
  src: url('../../fonts/GillSansMTPro-Light.woff2') format('woff2'), url('../../fonts/GillSansMTPro-Light.woff') format('woff');
}

body {
  font-family: 'Noto Serif JP', serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

p {
  margin: 1.25rem 0;

  &.button-group {
    margin-bottom: 0.625rem;
  }
}

h1, h2 {
  font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

h2 {
  line-height: 1;
  margin: 1.25rem 0;
  text-align: center;

  @media screen and (min-width: 32.5em) {
    margin-bottom: 2.5rem;
  }
}

.bordered {
  border-bottom: 1px solid #ccc;
}

.button {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  display: inline-block;
  font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-size: 0.8rem;
  font-weight: normal;
  letter-spacing: 0.0625rem;
  line-height: 1;
  margin-bottom: 0.625rem;
  margin-right: 0.625rem;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.25s background-color, 0.25s color;

  &:hover {
    color: #fff;
    background-color: #000;
  }
    
  &:focus {
    box-shadow: 0 0 0 2px #ddd;
    outline: none;
  }

  .centred & {
    margin: 0 0 1.25rem 0;
  }
}

.centred {
  font-family: 'Gill Sans Light', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.0625rem;
  padding: 0 1.25rem;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 32.5em) {
    padding: 1.25rem 0;
  }

  .button + .button {
    margin-left: 0.625rem;
  }
}

@import '../../scss/checkbox';
@import '../../scss/gallery';
@import '../../scss/loader';
@import '../../scss/ratio';
@import '../../scss/section';
@import '../../scss/rsvp';