.header {
  border-bottom: 1px solid #ccc;
  
  @media screen and (max-width: 32.4375em) {
    padding: 0.625rem 0;
  }
}

  .header__link {
    align-items: center;
    color: #111;
    display: flex;
    justify-content: center;
    text-decoration: none;

    @media screen and (max-width: 32.4375em) {
      flex-direction: column;
    } 
  }

  .header__monogram {
    margin: 0.625rem 1.25rem;
    width: 4.75rem;

    @media screen and (min-width: 37.5em) {
      margin: 0.625rem 2.5rem;
    }
  }

  .header__name {
    @media screen and (min-width: 32.5em) {
      width: 33%;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  .header__text {
    font-size: 1.125rem;
    letter-spacing: 0.1875rem;
    margin: 0;
    padding: 0.625rem 0;
    text-transform: uppercase;
  }